

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">





<div class="container" >

        <br/><br/>

<div class="row">
<div class="col-md-offset-2 col-md-3">
<div class="form-group">
<label style="float:right;"  for="*  اللقب  " >*  اللقب  </label>
<input type="text" class="form-control" id="nom" >
</div>
</div>
<div class="col-md-offset-1 col-md-3">
<div class="form-group">
<label style="float:right;"  for ="*الاسم "> * الاسم 
</label>
<input type="text" class="form-control" id="prenom" 
>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-3">
    <div class="form-group">
    <label style="float:right;"  for="*عدد الموظفين  "> *  عدد الموظفين  </label>
    <input type="text" class="form-control" id="nom" >
    </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
    <div class="form-group">
    <label style="float:right;"  for="* اسم المؤسسة
    ">* اسم المؤسسة</label>
    
    <input type="text" class="form-control" id="prenom">
    </div>
    </div>
    </div>

<div class="row">
<div class="col-md-offset-2 col-md-7">
<div class="form-group">
<label style="float:right;" for="* الايميل ">* الايميل 
 
</label>
<input type="email" style="float:right;"  class="form-control" id="** الايميل ">

</div>
</div>
</div>

<div class="row">
<div class="col-md-offset-2 col-md-3">
<div class="form-group">
<label for="Vpassword" style="float:right;" >تثبيت كلمة السر   </label>

<input type="password" class="form-control" id="vpassword" >
</div>
</div>
<div class="col-md-offset-1 col-md-3">
<div class="form-group">
        <label for="Password" style="float:right;" >كلمة السر</label>
<input type="password" class="form-control" id="password" >
</div>
</div>
</div>

<div style="float:right;"  class="row">
<div class="col-md-offset-6 col-md-3">
<div class="input-group">

<input type="text" class="form-control" placeholder="*رقم الجوال" aria-describedby="basic-addon1">
<span class="input-group-addon glyphicon glyphicon-earphone"></span></div>
<br/><div class="input-group">
        
<input type="text" class="form-control" placeholder="*  العنوان" aria-describedby="basic-addon1">
<span class="input-group-addon glyphicon glyphicon-globe"></span></div>
</div>
</div>

<br/><br/>
<div class="row">
<div class="col-md-offset-5 col-md-1">
<button type="button" class="btn btn-primary">تسجيل</button><br/><br/>
</div>
</div>

</div>
