<footer class="footer-area" style="background-image: url('assets/images/home/footer.png');">
  <div class="subscribe-section">
      <div class="container">
          <div class="subscribe-content">
              <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-12 footer-column">
                      <div class="top-title"><h3>الاشتراك</h3></div>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12 footer-column">
                      <div class="footr-form">
                          <form action="#" method="Post">
                              <div class="form-group">
                                  <input type="text" name="name" placeholder="اسمك" required="">
                              </div>
                              <div class="form-group">
                                  <input type="email" name="email" placeholder="بريدك الالكتروني" required="">
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn-one">الاشتراك</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="main-footer">
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                  <div class="logo-wideget footer-wideget">
                      <div class="footer-logo">
                          <a href="index.html"></a>
                      </div>
                      <div class="text">
                          <p>Jameel اهلا بكم في عالم الأناقة و النظافة والتعقيم مع فرق <br/> للتنظيف الشامل و الكامل </p>
                      </div>
                      <ul class="footer-social">
                          <li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="index.html#"><i class="fa fa-vimeo"></i></a></li>
                          <li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="index.html#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-12 footer-column">
                  <div class="service-wideget footer-wideget">
                      <div class="footer-title"><h3>معلومات</h3></div>
                      <ul class="list">
                          <li><a href="index.html#"> من نحن </a></li>
                          <li><a href="index.html#">معلومات عنا</a></li>
                          <li><a href="index.html#">إتصل بنا </a></li>
                          <li><a href="index.html#">خدماتنا</a></li>
                      </ul>
                  </div>
              </div>
             
              <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                  <div class="contact-wideget footer-wideget">
                      <div class="footer-title"><h3>موقعنا</h3></div>
                      <div class="widget-content">
                        <!--  <div class="text">
                              <p>Excepteur sint occaecat cupidat non proident sunt.</p>
                          </div>-->
                          <ul class="contact-info">
                              <li><i class="icon fa fa-map-marker"></i>184 Main Rd E, St Albans VIC <br />3021, Australia</li>
                              <li><i class="icon fa fa-phone"></i>05 9150 5646</li>
                              <li><i class="icon fa fa-envelope"></i>jameel.contact@gmail.com</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
                    <div class="link-wideget footer-wideget">
                        <div class="footer-title"><h3> تطبيق جميــــــــــــــــل </h3></div>
                        <div class="form-group">
                                <button type="submit" class="btn-one"> <i class="icon fa fa-android"></i>متوفر على</button>
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="btn-one"> <i class="icon fa fa-apple"></i> قريبا على </button>
                                </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="footer-bottom centred">
          <div class="copyright"> جميع  حقوق محفوظة <span>2018 </span>   ©<a href="index.html#">         جميل </a></div>
      </div>
  </div>
</footer>