<section class="main-slider">
    <div class="container-fluid">
        <ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
            <li class="slider-wrapper">
                <div class="image"><img src="assets/imagesJameel/jameel5.jpg" alt=""></div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">  دع سيارتك تلمع </div>
                        <h1>نحن الأفضل
                            <br />    مزود خدمة التنظيف
                        </h1>
                        <div class="tp-btn">
                            <a href="index.html#" class="btn-one">إحجز الآن </a>
                            <a href="index.html#" class="btn-two">اتصل بنا
                            </a>
                        </div>
                    </div>                             
                </div>
                <div class="slide-overlay"></div>
            </li>
    <!-->    <li class="slider-wrapper">
                <div class="image"><img src="assets/imagesJameel/jameel7.jpg" alt=""></div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">     دع سيارتك تلمع </div>
                        <h1>نحن الأفضل
                            <br />    مزود خدمة التنظيف
                        </h1>
                        <div class="tp-btn">
                            <a href="index.html#" class="btn-one">إحجز الآن    </a>
                            <a href="index.html#" class="btn-two">اتصل بنا
                            </a>
                        </div>
                    </div>                             
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image"><img src="assets/imagesJameel/jameel8.jpg" alt=""></div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title"> دع سيارتك تلمع </div>
                        <h1>نحن الأفضل
                            <br />    مزود خدمة التنظيف  </h1>
                        <div class="tp-btn">
                            <a href="index.html#" class="btn-one">إحجز الآن </a>
                            <a href="index.html#" class="btn-two">اتصل بنا
                            </a>
                        </div>
                    </div>                             
                </div>
                <div class="slide-overlay"></div>
            </li>-->
        </ul>
    </div>
</section>
<!-- main-slider end -->

<!-- about section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 about-column">
                <div class="img-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"><figure><img src="assets/imagesJameel/aze.jpg" alt=""></figure></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 about-column">
                <div class="about-content">
                    <div class="title-top">مرحبا بك في
                    </div>
                    <div class="sec-title"><h2>عالم محترفي <br /> خدمات التنظيف</h2></div>
                    <div class="text">
                        <p> Jameel اهلا بكم في عالم الأناقة و النظافة والتعقيم مع فرق <br/> للتنظيف الشامل و الكامل </p>
                    </div>
                    <div class="button"><a href="contact.html" class="btn-one">إتصل بنا </a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->


<!-- cta section -->
<section class="cta-section" style="background-image: url('assets/imagesJameel/plea.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 cta-column">
                <div class="cta-content">
                    <div class="title"><h1>نحن ننظف <br /> عليك إن تسترخي </h1></div>
                    <div class="text">
                        <p>شاهد و تعرف على تطبيق جميــــل</p>
                    </div>
                    <div class="video-area">
                        <div class="button"><a href="index.html#" class="btn-one">الفيديو التعريفي</a></div>
                        <div class="video-gallery">
                            <div class="icon-holder">
                                <div class="icon">
                                    <a class="html5lightbox" title="Cleaning Video" href="https://www.youtube.com/embed/np9vm-dVIxE"><i class="fa fa-play"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta section end -->


<!-- service section -->
<section class="service-section">
    <div class="container">
        <div class="service-title centred">
            <div class="title-top">خدماتنا</div>
            <div class="sec-title"><h2>عروضنا</h2></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                <div class="single-item">
                    <div class="single-item-overlay">
                        <div class="img-box">
                            <a href="index.html#"><img src="assets/imagesJameel/wash-a-car-1822415.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="inner-box">
                                    <ul class="content">
                                        <li><a href="service-details.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="service-details.html">House Cleaning</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusm tempor incid.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                <div class="single-item">
                    <div class="single-item-overlay">
                        <div class="img-box">
                            <a href="index.html#"><img src="assets/imagesJameel/l.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="inner-box">
                                    <ul class="content">
                                        <li><a href="service-details.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="service-details.html">Office Cleaning</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusm tempor incid.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 service-column">
                <div class="single-item">
                    <div class="single-item-overlay">
                        <div class="img-box">
                            <a href="index.html#"><img src="assets/imagesJameel/fea.jpg" alt=""></a>
                            <div class="overlay">
                                <div class="inner-box">
                                    <ul class="content">
                                        <li><a href="service-details.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="service-details.html">Glass Cleaning</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusm tempor incid.</div>
                    </div>
                </div>
            </div>
          
           
            
        </div>
    </div>
</section>
<!-- service section end -->


<!-- we-work -->
<section class="we-work" style="background-image: url('assets/imagesJameel/jameel1.jpg');">
    <div class="container">
        <div class="title-top centred">المراحل </div>
        <div class="sec-title centred"><h2>كيف نعمل</h2></div>
        <div class="row">
           
           
           
            <div class="col-md-3 col-sm-6 col-xs-12 column">
                <div class="single-item">
                    <div class="icon-box">
                        <i class="flaticon-boy-broad-smile"></i>
                        <div class="number">4</div>
                    </div>
                    <div class="text">تكن  سعيدا</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 column">
                <div class="single-item">
                    <div class="icon-box">
                        <i class="flaticon-vacuum-cleaner"></i>
                        <div class="number">3</div>
                    </div>
                    <div class="text">نحن تنظيف</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 column">
                <div class="single-item">
                    <div class="icon-box">
                        <i class="flaticon-time-1"></i>
                        <div class="number">2</div>
                    </div>
                    <div class="text">حديد  وقتك </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 column">
                <div class="single-item">
                    <div class="icon-box">
                        <i class="flaticon-phone-call"></i>
                        <div class="number">1</div>
                    </div>
                    <div class="text">إتصل بنا </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end we-work section -->


<!-- pricing-section -->
<section class="pricing-section centred sec-pad">
    <div class="container">
        <div class="title-top">خططنا</div>
        <div class="sec-title"><h2>التسعيرة</h2></div>
        <div class="row" style="height:50px;">
            <div class="col-md-4 col-sm-6 col-xs-12 pricing-column" >
                <div class="single-table">
                    <div class="top-content">
                        <div class="title" ><h3>   كلاسيك </h3><img src="assets/imagesJameel/plus.png"> </div>
                        <div class="text" > </div>
                    </div>
                    <div class="lower-content">
                        <ul class="list">
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>كنس و تنظيف من الداخل</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تعقيم فتحات التكييف بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع طبلون</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>غسيل خارجي بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع كفرات</li>
                        </ul>
                        <div class="button"><a href="index.html#" class="btn-two">اشتري الآن</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pricing-column">
                <div class="single-table">
                    <div class="top-content">
                        <div class="title"><h3> تلميع اكبرس   </h3><img src="assets/imagesJameel/polishing.png"></div>
                  <!--      <div class="text">49.00<span>$/mo</span></div>-->
                    </div>
                    <div class="lower-content">
                        <ul class="list">
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>كنس و تنظيف من الداخل</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>(تلميع المقاعد من الأوساخ (ازالة البقع</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع الاكسيسوارات</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع الطبلون</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تعقيم فتحات التكييف بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>    غسيل خارجي بالبخار ٢٠ ريال زيادة</li>
                        
                        </ul>
                        <div class="button"><a href="index.html#" class="btn-two">اشتري الآن</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pricing-column">
                <div class="single-table">
                    <div class="top-content">
                        <div class="title" ><h3>VIP Plus</h3>  <br> <img src="assets/imagesJameel/vip1.png"></div>
                        <div class="text" ></div>
                       <!-- <div class="text">79.00<span>$/mo</span></div>-->
                    </div>
                    <div class="lower-content">
                        <ul class="list">
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>غسيل داخلي بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>(تلميع) المقاعد من الأوساخ (ازالة البقع</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع الاكسيسوارات </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع الطبلون</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>كنس و تنظيف من الداخل</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تعقيم فتحات التكييف بالبخار</li>
                            
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلبيس الدعاسات</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تنظيف مكينة بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>غسيل خارجي بالبخار</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>شمبو للبودي</li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تنظيف جنوط </li>
                            <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تلميع كفرات</li>
                        </ul>
                        <div class="button"><a href="index.html#" class="btn-two">اشتري الآن</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing section end -->


<!-- testimonials section -->
<section class="testimonials-section centred" style="background-image: url('assets/imagesJameel/pro.jpg');">
    <div class="container">
        <div class="title-top">الشهادات
        </div>
        <div class="sec-title"><h2>ماذا يقول العملاء؟</h2></div>
        <div class="row">
           
        </div>
    </div>
</section>
<!-- testimonial section end -->


<!-- news section -->
<section class="news-section">
    <div class="container">
        <div class="news-title centred">
            <div class="title-top">جديدنا </div>
            <div class="sec-title"><h2>المشاركات الاخيرة</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 news-column">
                <div class="single-item">
                    <div class="img-box"><a href="blog-details.html"><figure><img style =" width:500px;height:300px;" src="assets/imagesJameel/e.jpg" alt=""></figure></a></div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">تطبيق جميل اسم على مسمى جميل في خدمته وجميل في جودته 👍 .</a></h3>
                        <ul class="meta">
                            <li> <span>عمر موسي</span></li>
                         <!--   <li>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
                            <li>5 Comments</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 news-column">
                <div class="single-item">
                    <div class="img-box"><a href="blog-details.html"><figure><img  style =" width:500px;height:300px;" src="assets/imagesJameel/a.jpg" alt=""></figure></a></div>
                    <div class="lower-content">
                        <h3><a href="blog-details.html">ما شاء الله لا قوة الا بالله الحقيقة جميل جدا!</a></h3>
                        <ul class="meta">
                            <li> <span>عبد المجيد</span></li>
                       <!--     <li>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
                            <li>5 Comments</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>
